mixin card({addClass, url, name, when, whear})
    div(class=`card ${addClass}`)
        .card__img-container   
            .card__info   
                .card__info-content  
                    .card__name #{name}
                    .card__when #{when}
                    .card__whear #{whear}
            //- .card__img(style=`background-image: url(${url});`)
            img.card__img(src=url)